<style>
.range-rotate{
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

</style>

<ion-view view-title="Range">
  <ion-content>
    <div class="range-rotate">
      <div class="row">
        <div class="range col-50 col-offset-20">
          <input type="range" name="volume" min="-3" max="3" value="-3">
        </div>
      </div>
      <div class="row">
        <div class="range col-50 col-offset-20">
            <input type="range" name="volume" min="-3" max="3" value="-1">
        </div>
      </div>
      <div class="row">
        <div class="range col-50 col-offset-20">
            <input type="range" name="volume" min="-3" max="3" value="1">
        </div>
      </div>
      <div class="row">
        <div class="range col-50 col-offset-20">
          <input type="range" name="volume" min="-3" max="3" value="0">
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
      